
<div class="row">
<!--   <div class="col-md-4 col-md-offset-4"> -->
    <div class="col-md-8 col-md-offset-2">

    <p><h2>Create new order</h2></p>

    <div class="well">
      <form role="form" ng-submit="vm.create()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <label for="create__keywords">Keywords</label>
          <input type="text" class="form-control" id="create__keywords" ng-model="vm.keywords" placeholder="ex. enter your keyword" />
        </div>

         <div class="form-group">
          <label for="create__keywords">Comments</label>
          <input type="text" class="form-control" id="create__email" ng-model="vm.comments" placeholder="ex. enter your comments" />
        </div>

        <div class="form-group">
          <label for="create__keywords">Package</label>
          <select class="form-control" id="create__offer_option" ng-model="vm.offer_option" ng-change="changedValue(vm.offer_option)" ng-options="item.label for item in vm.opt">
          </select>
          <label for="create__price" ng-model="vm.price"> Price : {{ vm.price }} </label>
        </div>

        <div class="form-group">
          <label for="create__keywords">Total: {{vm.price}}</label>
        </div>

        <div class="form-group">
          <a href= "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=98QR3KKHWW6WQ"> <button type="submit" class="btn btn-primary">Order</button> </a> 
        </div>
      </form>
    </div>
  </div>
</div>
<!-- </div> -->