<!DOCTYPE html>
<html ng-app="wordapp">
<head>
  <title>Premium content for marketers - Wordhard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
 {% include 'navbar.html' %}
 <!-- {% include 'sidebar.html' %}  -->
 <!--  <div class="container-fluid"> -->
   <!--  <div class="container">
    <div class="row">
      <div class="col-xs-12 ng-view"> </div>
    </div>
  </div> -->
  <div class = "ng-view"> </div>

  {% include 'javascripts.html' %}
</body>
</html>
